.map {
  width: 100%;
  height: 100%;
}

.leaflet-container {
  font-family: inherit;
}

.custom-marker {
  background: transparent !important;
  border: none !important;
}

.leaflet-popup-content {
  font-family: inherit;
  font-size: 14px;
}

.leaflet-popup-close-button {
  font-size: 20px;
}
